body {
  background-color: #e8f442;
  color: #00067a;

}

h1 {
  color: #00000a;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;

}

h2 {
  color: #00000a;
  font-size: 2em;
  font-family: 'Kosugi Maru', sans-serif;

}

p {
  color: #00000a;
  font-size: 2em;
  font-family: 'Lora', serif;

}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.content {
  font-family: 'Lora', serif;
}
